<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- inconos -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link rel="stylesheet" href="./styles.css">
    <link rel="shortcut icon" href="./assets/favicon.png" type="image/x-icon">
    <title>details</title>
  </head>
<body>
  <div id="app">
    <header class="bg-dark">
      <h1>A Events</h1>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <img src="./assets/amazing_brand.png" class="logo" alt="logo">
              <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="navbar-brand " aria-current="page" href="./index.html">Home</a>
                  <a class="navbar-brand" href="./upcoming.html">Upcoming events</a>
                  <a class="navbar-brand" href="./past.html">Past Events</a>
                  <a class="navbar-brand" href="./contact.html">Contact</a>
                  <a class="navbar-brand" href="./stats.html">Stats</a>

                </div>
              </div>
            </div>
          </nav>
  </header>
    <main class="main-detalles">
        <br>
         <div class=" detalles col-9" id="contenedorDetalles"> 

            <img :src="evento.image" alt="food_fair" class="col-6 img-detalle">
            
            <div class="info">
                <h2>{{evento.name}}</h2>
                <p>{{evento.date}}</p>
                <p>{{evento.description}}</p>
                <p>{{evento.category}}</p>
                <p>{{evento.place}}</p>
                <p v-if="evento.capacity">capacity: 45000</p>
                <p v-if="evento.assistance">assistance:42756</p>
                <p>{{evento.price}}</p>
            
            </div>  


        </div>



    </main>
  
  <footer>
    <div class="social">
      <img src="./assets/facebook.png" alt="facebook">
      <img src="./assets/instagram.png" alt="instagram">
      <img src="./assets/whatsapp.png" alt="whatsapp">
    </div>
    
    <h3>cohort 51</h3>
  </footer>

</div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
  crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script  src="./assets/javaScript/detalle.js"></script>
  </body>
</html>