<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- inconos -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link rel="stylesheet" href="./styles.css">
    <link rel="shortcut icon" href="./assets/favicon.png" type="image/x-icon">
    <title>stars</title>
  </head>
<body>
 <div id="app">
    <header class="bg-dark">
      <h1>A Events</h1>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <img src="./assets/amazing_brand.png" class="logo" alt="logo">
              <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="navbar-brand " aria-current="page" href="./index.html">Home</a>
                  <a class="navbar-brand" href="./upcoming.html">Upcoming events</a>
                  <a class="navbar-brand" href="./past.html">Past Events</a>
                  <a class="navbar-brand" href="./contact.html">Contact</a>
                  <a class="navbar-brand" href="./stats.html">Stats</a>

                </div>
              </div>
            </div>
          </nav>

    <!-- carrousel -->

    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
          <div class="carousel-item active bn5">
            <h3>stats</h3>
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
<!-- fin carrousel -->

  </header>
    <main>
      <div class="div-tabla">
        <table class="tabla-princi">
            <thead class="statistics-info">
                <tr>
                    <th colspan="3" class="fila-princi">Events Statistics</th>
                </tr>
                <tr >
                    <td>Events with highest % of assistance</td>
                    <td>Events with lowest % of assistance</td>
                    <td>Events with larger capacity</td>
                </tr>
                <tr>
                    <td>{{highest.name}} % {{highest.porcentaje}}</td>
                    <td>{{lowest.name}} % {{lowest.porcentaje}}</td>
                    <td>{{capacityL.name}} {{capacityL.capacity}}</td>
                </tr>

                <tr >
            <tbody class="statistics-by-category">
                <tr>
                    <th colspan="3" class="fila-princi">Upcoming events statistics by category</th>
                </tr>
                <tr>
                    <td>Categories</td>
                    <td>Revenues</td>
                    <td>Percentage of assistance</td>
                </tr>

                <tr v-for="celda of tablaU">
                    <td>{{celda.categoria}}</td>
                    <td>{{celda.ganancia}} %</td>
                    <td>{{celda.porcentaje}} %</td>
                </tr>
            </tbody>
            <tfoot class="past-statistics">
                <tr>
                    <th colspan="3" class="fila-princi">Past events statistics by category</th>
                </tr>
                <tr>
                    <td>Categories</td>
                    <td>Revenues</td>
                    <td>Percentage of assistance</td>
                </tr>
                <tr v-for="celda of tablaP">
                  <td>{{celda.categoria}}</td>
                  <td>{{celda.ganancia}} %</td>
                  <td>{{celda.porcentaje}} %</td>
              </tr>

            
            </tfoot>
        </table>
      </div>


    </main>
  
  <footer>
    <div class="social">
      <img src="./assets/facebook.png" alt="facebook">
      <img src="./assets/instagram.png" alt="instagram">
      <img src="./assets/whatsapp.png" alt="whatsapp">
    </div>
    
    <h3>cohort 51</h3>
  </footer>

 </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
  crossorigin="anonymous"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
       <script type="module" src="./assets/javaScript/stats.js"></script>

  </body>
</html>